# this i3 configuration template contains system specific
# configuration for a multihead desktop system

# locking workspaces to specific screens
workspace 1 output DP1
workspace 2 output HDMI2
workspace 3 output HDMI1
workspace u:term output DP1
workspace i:emacs output HDMI2
#workspace o:www output HDMI1
workspace kp0:mail output HDMI1
workspace kp1:irc output HDMI1
workspace kp2:spotify output HDMI1
workspace kp3:calibre output HDMI1
workspace kp4:bitcoin output HDMI1

# special workspaces

# special workspace mail
bindsym $mod+KP_0 workspace kp0:mail; exec [ $(ps h -C thunderbird | wc -l) = 0 ] && thunderbird

# special workspace irc	    
bindsym $mod+KP_1 workspace kp1:irc; exec [ $(ps h -C hexchat | wc -l) = 0 ] && hexchat

# special workspace spotify
bindsym $mod+KP_2 workspace kp2:spotify; exec [ $(ps h -C spotify | wc -l) = 0 ] && spotify

# special workspace calibre
bindsym $mod+KP_3 workspace kp3:calibre; exec [ $(ps h -C calibre | wc -l) = 0 ] && calibre

# speical workspace bitcoin
bindsym $mod+KP_4 workspace kp4:bitcoin; exec [ $(ps h -C bitcoin-qt | wc -l) = 0 ] && bitcoin-qt
assign [class="Bitcoin-qt"] kp4:bitcoin

# Multimedia controll
bindsym XF86AudioPlay exec dbus-send --print-reply --dest=org.mpris.MediaPlayer2.spotify /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.PlayPause
bindsym XF86AudioNext exec dbus-send --print-reply --dest=org.mpris.MediaPlayer2.spotify /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.Next
bindsym XF86AudioPrev exec dbus-send --print-reply --dest=org.mpris.MediaPlayer2.spotify /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.Previous

